*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 250px;
    width: 200px;
    background-color: aliceblue;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.519);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-weight: 500;
}
.card p{
    font-weight: 100;
    font-size: small;
    text-align: center;
}
.card button{
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(216, 107, 233);
    border: 2px solid rgb(216, 107, 233);
    font-weight: 600;
    color: white;
    cursor: pointer;
    /* border: none; */
}
.card button:hover{
    background-color: transparent;
    color: rgb(216, 107, 233);
}