*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

// .red{
//     height: 50vh;
//     width: 50vw;
//     background-color: red;
// }
// html{
//     font-size: clamp(14px, 1vw, 18px);
// }
// h1{
//     font-size: 5rem; // depend on root(html)
// }
// section{
//     font-size: 30px;
// }
// h1{
//     font-size: 4em; //depend on least ancestor 
// }

        // day  -  23 & 24

body{
    background-color: #181717;;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e0dede;
    font-size: clamp(14px, 1vw, 18px);
}

@mixin flexCol($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    align-items: center;
    @include flexCol(0rem);

    section.view1{
        width: 100%;
        @include flexCol(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            background-color: #2c2929;
            padding: 1.5rem;
            @include flexCol(3rem);
            border-radius: 10px;

            .text{
                @include flexCol(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 1.5; // to give space btw para
                    opacity: 0.6;
                }

                button{
                    width: fit-content; //makes an element shrink-wrap its content instead of stretching to fill its container.
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    section.view2{
        @include flexCol(1rem);
        width: 100%;
        padding: 1rem;

        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element{
                text-align: center;
                @include flexCol(0.2rem);

                small{
                    opacity: 0.6;
                }

                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flexCol(1rem);

        .top{
            width: 100%;
            
            img{
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom{
            background-color: #2c2929;
            padding: 1.5rem;
            @include flexCol(3rem);
            border-radius: 10px;

            .text{
                @include flexCol(0.7rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 1.5; // to give space btw para
                    opacity: 0.6;
                }
            }
        }

        .bottom>p{
            text-transform: uppercase;
        }
    }
}

@media (min-width:900px){
    main section.view1{
        flex-direction: row;
        padding: 1rem 4rem;

        .top,.bottom{
            width: 50%;
        }
        .bottom{
            justify-content: space-between;
            padding: 3rem;

            .text{

                h1{
                    font-size: 3.5rem;
                }

                p{
                    width: 65%;
                    font-size: 1rem;
                }
            }
        }
        
    }
    
    main section.view2{
        flex-direction: row;
        padding: 1rem 4rem;
    }

    main section.view3{
        flex-direction: row-reverse;
        padding: 1rem 4rem;
        
        .top,.bottom{
            width: 50%;
        }
        .bottom{
            justify-content: space-between;
            padding: 3rem;

            .text .para{
                display: flex;
                gap: 2rem;

                p{
                    font-size: 1rem;
                }
            }
        }
        
    }
}