*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
}
#navi{
    padding: 20px 40px;
}
#navi a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin-right: 30px;
}
#main>h1{
    font-size: 200px;
    padding: 30px;
    font-weight: 100;
}
#btmleft{
    width: 200px;
    position: absolute;
    left: 5%;
    bottom: 15%;
    /* background-color: aliceblue; */
}
#btmleft h3{
    font-size: 20px;
}
#btmleft p{
    font-size: 15px;
    margin: 5px;
}
#btmleft h4{
    font-size: 15px;
    margin-top: 20px;
}
#btmbar{
    position: absolute;
    padding: 20px 50px;
    bottom: 0%;
    font-size: 10px;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btmbar a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 20px 30px;
}
#main>img{
    position: absolute;
    height: 200px;
}
#main #first{
    top: 40%;
    left: 55%;
}
#main #sec{
    top: 45%;
    left: 30%;
}
#main #third{
    top: 45%;
    left: 75%;
}